*{
    margin: 0 auto;
    box-sizing: inherit;
}

.vn-container{
    max-width: 1000px;
}

.vn-forget-password-page{
    width: 1000px;
    padding-top: 70px;
    display: flex;
    height: auto;
    max-height: 550px;
}

    .vn-forget-password-page-left{
        display: block;
        float: left;
        max-width: 500px;
        width: 500px;
        max-height: 600px;
        padding-top: 25px;
    }

        .vn-forget-password-page-left-box{
            width: 380px;
            max-width: 380px;
        }

        .vn-forget-password-logo{
            margin-top: 20px;
        }

            .vn-forget-password-logo-link{    
                font-family: open sans;
                color: #343434;
                font-size: 23px;
                font-weight: 630;
                text-decoration: none;
            }
        
        .vn-forget-password-word{
            margin-top: 25px;
        }

            .vn-forget-password-word-text{
                font-family: open sans;
                color: #565656;
                font-weight: 600;
                font-size: 14px;
            }

        .vn-forget-password-email{            
            margin-top: 15px;
        }

            .vn-forget-password-email-text{
                font-family: open sans;
                color: #454545;
                font-size: 13px;
                font-weight: 600;
            }

            .vn-forget-password-email input[type="text"]{
                margin-top: 5px;
                width: 350px;
                border: none;
                height: 30px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                border-radius: 20px;
                background: #f4f4f4;
                text-decoration: none;
            }

        .vn-forget-password-password{            
            margin-top: 15px;
        }

            .vn-forget-password-password-text{
                font-family: open sans;
                color: #454545;
                font-size: 13px;
                font-weight: 600;
            }

            .vn-forget-password-password input[type="password"]{
                margin-top: 5px;
                width: 350px;
                border: none;
                height: 30px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                border-radius: 20px;
                background: #f4f4f4;
                text-decoration: none;
            }

        .vn-forget-password-remember-me{
            display: flex;
            margin-top: 15px;
        }

            .vn-forget-password-remember-me-check-box{
                text-decoration: none;
                flex-grow: 0;
            }

            .vn-forget-password-remember-me-text{
                flex-grow: 1;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                padding: 0 5px 0 5px;
            }

        .vn-forget-password-button-box{
            margin-top: 15px;
        }

            .vn-forget-password-button{
                    width: 350px;
                    height: 30px;
                    border: none;
                    color: #fff;
                    background: rgb(132, 25, 255);
                    border-radius: 20px;
                    padding: 0 15px 0 15px;
                    font-family: open sans;
                    font-size: 12px;
                    text-decoration: none;
                    cursor: pointer;
            }

        .vn-forget-password-verification{
            margin-top: 15px;
        }

            .vn-forget-password-verification-text{
                font-family: open sans;
                color: #565656;
                font-size: 13px;
            }

        .vn-forget-password-verification-not-send{
            margin-top: 5px;
        }

            .vn-forget-password-verification-not-send-text{
                font-family: open sans;
                font-size: 13px;
                color: #565656;
            }

            .vn-forget-password-verification-not-send-text-link{
                font-family: open sans;
                font-size: 13px;
                color: #3d29f5;
                text-decoration: none;
            }

        .vn-forget-password-copyright{
            margin-top: 5px;
            display: block;
            bottom: 0 ;
        }

            .vn-forget-password-copyright-text{
                font-family: open sans;
                font-size: 10px;
                color: #343434;
            }

    
    .vn-forget-password-page-right{
        max-height: 600px;
        width: 500px;
        width: auto;
        float: left;
    }

        .vn-forget-password-page-right-box{
            width: 500px;
            height: auto;
            width: auto;
            display: flex;
          }
          
          .vn-forget-password-page-right-image{
            margin-right: 70px;
            margin-left: 30px;
            width: 400px;
            justify-content: flex-start;
            display: block;
          }
            
          .vn-forget-password-image{
            float: left;
            position: relative;
            border: none;
            margin: 20px 0 20px 0;
            width: 100%;
            padding: 0;
          }
          
          .vn-forget-password-image img{
            border-radius: 10px;
            position: relative;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
          }


          .vn-forget-password-image .vn-forget-password-image-text{
            border-radius: 10px;
            width: 100%;
            position: absolute;
            border: none;
            margin: 0;
            padding: 0;
            top: 20px;
            bottom: -20px;
            left: 20px;
            z-index: 50;
            background: rgba(140, 40, 255, 0.5);
          }
          
          
          .vn-forget-password-image-text .vn-forget-password-image-text-center{
            max-width: 350px;
            display: flex;
            position: absolute;
            top: 120px;
            left: 20px;
            z-index: 51;
          }

          .vn-forget-password-image-text-a{
              font-family: montserrat;
              font-size: 45px;
              font-weight: 700;
              color: #fff;
              opacity: 1;
          }