/* Masonry grid */
.masonry {
    transition: all .5s ease-in-out;
    column-gap: 20px;
  }
  
  /* Masonry item */
  .masonry .brick {
    border-radius: 11px;
    background: #343434;
    margin-bottom: 25px;
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
  }
  
  /* Masonry image effects */
  .masonry .brick img {
    border-radius: 10px;
    max-width: 100%;
    transition: all .5s ease-in-out;
    backface-visibility: hidden; /* Remove Image flickering on hover */
  }
  
  .masonry .brick:hover img {
    position: relative;
    opacity: .65;
  }
  
  /* Bordered masonry */
  .masonry.bordered {
    column-gap: 40px;
  }
  
  .masonry.bordered .brick {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  
  /* Gutterless masonry */
  .masonry.gutterless {
    column-gap: 0;
  }
  
  .masonry.gutterless .brick {
    margin-bottom: 0;
  }


  .profil-box{
    position: absolute;
    z-index: 999;
    border: 1px solid red;

  }
  
  /* Masonry on tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry {
      column-count: 2;
    }
  }
  
  /* Masonry on big screens */
  @media only screen and (min-width: 1024px) {
    .desc {
      font-size: 1.25em;
    }
  
    .intro {
      letter-spacing: 1px;
    }
  
    .masonry {
      column-count: 3;
    }
  }