*{
    margin: 0 auto;
}

body{
    background: #efefef;
}
.vn-profile-header-container{
    max-width: 100%;
}

.vn-profile-header-background{
    display: block;
}

.vn-profile-header-background-container{
    max-width: 100%;
}

    .vn-image-background{
        display: block;      
    }

    .vn-image-background img{
        width: 100%;
    }

    .vn-profile-header-overlay{
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 305px;
        background: linear-gradient(180deg, rgba(0,0,0,0.8268441165528712) 0%, rgba(0,0,0,0.7147992986257004) 25%, rgba(0,0,0,0) 100%);
    }

    .vn-header{
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        background: none;
        z-index: 9999;
    }
    
        .vn-header-container{
            display: flex;
            width: 1200px;
            max-width: 1200px;
            height: 70px;
            max-height: 70px;
        }
    
            .vn-header-left{
                display: block;
                flex-grow: 0;
                width: 200px;
                height: 100%;
            }
    
                .vn-logo-container{
                    display: block;
                }
    
                    .vn-logo{
                        display: block;
                        line-height: 70px
                    }
    
                        .vn-logo-link{
                            font-family: open sans;
                            font-size: 18px;
                            font-weight: 600;
                            color: #eee;
                            text-decoration: none;
                        }
    
            .vn-header-center{
                display: block;
                flex-grow: 0;
                width: 700px;
                height: 100%;
                float: right;
            }
    
                .vn-main-search-container{
                    display: block;
                    
                }
            
                    .vn-main-search{
                        float: right;
                        display: block;
                        position: relative;
                        line-height: 70px;
                    }
                    
                    .vn-main-search input[type="search"]{
                        width: 300px;
                        border: none;
                        height: 40px;
                        padding: 0 15px 0 15px;
                        font-family: montserrat;
                        font-size: 13px;
                        color: #343434;
                        border-radius: 5px;
                        background: #f4f4f4;
                        text-decoration: none;    
                        outline: none;         
                    }
            
                    .vn-main-search button{
                        position: absolute;
                        right: 10px;
                        top: 15px ;
                        height: 40px;
                    }    
                    
                    .vn-main-search-button{
                        cursor: pointer;
                        color: #9d9dc7;
                        border: none;
                        background: none;
                        outline: none;
                    }
    
            .vn-header-right{
                display: block;
                flex-grow: 0;
                width: auto;
                height: 100%;
            }
    
                .vn-header-right-container{
                    display: flex;
                    float: right;
                }
    
                    .vn-menu-container{
                        display: block;
                        flex-grow: 0;
                        height: 100%;
                        max-height: 70px;
                        padding-left: 20px;
                    }
    
                        .vn-menu{
                            display: block;
                        }
    
                            .vn-menu-item{
                                display: inline-block;
                                width: 40px;
                                height: 70px;
                                line-height: 70px;
                                align-content: center;
                                justify-content: center;
                                text-align: center;
                                cursor: pointer;
                            }
    
                                .vn-menu-item-style{
                                    font-size: 22px;
                                    color: #eee;
                                }
    
                                    .vn-menu-item .vn-menu-item-style:hover{
                                        color: #4043ee;
                                    }
    
    
                    .vn-upload-container{
                        display: block;
                        flex-grow: 2;
                        width: auto;
                        max-width: 70px;
                        height: 100%;
                        max-height: 70px;
                        padding-left: 20px;
                    }
    
                        .vn-upload{
                            display: block;
                            line-height: 70px;
                        }
    
                            .vn-upload-button{
                                padding: 8px 12px 8px 12px;
                                border-radius: 5px;
                                font-family: open sans;
                                font-size: 13px;
                                font-weight: 600;
                                border: none;
                                background: #4548ff;
                                color: #fff;
                                text-decoration: none;
                                cursor: pointer;
                            }
    
                            .vn-upload-button:hover{
                                background: #fff;
                                border: none;
                                color: #4548ff;
                            }
    
                    
                    .vn-profile-container{
                        display: block;
                        flex-grow: 1;
                        width: auto;
                        height: 70px;
                        max-height: 70px;
                        padding-left: 20px;
                    }
    
                        .vn-profile{
                            display: block;
                            line-height: 70px;
                            padding: 15px 0 15px 0;
                        }
    
                            .vn-profile-image{
                                display: block;
                                align-content: center;
                                justify-content: center;
                                text-align: center;
                                max-width: 40px;
                                width: 40px;
                            }
    
                                .vn-profile-image img{
                                    max-width: 40px;
                                    width: 40px;
                                    height: 40px;
                                    background: #efefef;
                                    border-radius: 25px;
                                    cursor: pointer;
                                }


        .vn-profile-page-profile{
            display: block;
            margin-top: -80px;
        }

            .vn-profile-page-profile-container{
                width: 1200px;
                height: 300px;
                align-items: center;
                justify-content: center;
            }

            .vn-profile-page-top{
                display: block;
                position: absolute;
            }
    
                .vn-profile-page-top-container{
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    height: auto;
                }
    
                    .vn-profile-page-top-left{
                        flex-grow: 0;
                    }
    
                        .vn-profile-page-top-left-container{
                            display: flex;
                            flex-wrap: nowrap;
                            max-width: 600px;
                            float: left;
                        }
    
                            .vn-profile-page-profile-image{
                                flex-grow: 0;
                            }
    
                                .vn-profile-page-profile-image-container{
                                    width: 180px;
                                    height: 180px;
                                }
    
                                    .vn-profile-page-profile-image-container img{
                                        border: 10px solid #efefef;
                                        border-radius: 100px;
                                        width: 150px;
                                        height: 150px;
                                    }
    
                            .vn-profile-page-name-location-description{
                                flex-grow: 1;
                                padding-top: 80px;
                            }
    
                                .vn-profile-page-name-location-description-container{
                                    width: 420px;
                                    height: auto;
                                }
    
                                    .vn-profile-page-name{
                                        display: block;
                                        margin-bottom: 2px;
                                    }
    
                                        .vn-profile-page-name-container{
                                            width: 100%;
                                        }
    
                                            .vn-profile-page-name-style{
                                                font-family: open sans;
                                                font-size: 25px;
                                                font-weight: 700;
                                                color: #343434;
                                            }
    
                                    .vn-profile-page-location{
                                        display: block;
                                        margin-bottom: 10px;
                                    }
    
                                        .vn-profile-page-location-container{
                                            width: 100%;
                                        }
    
                                            .vn-profile-page-location-style{
                                                font-family: open sans;
                                                font-size: 15px;
                                                font-weight: 600;
                                                color: #343434;
                                            }
    
                                    .vn-profile-page-visited{
                                        display: block;
                                        float: left;
                                    }
    
                                        .vn-profile-page-visited-container{
                                            display: flex;
                                            flex-wrap: nowrap;
                                            width: 100%;
                                            float: left;
                                            justify-content: flex-start;
                                            align-items: flex-start;
                                        }
    
                                            .vn-profile-page-visited-user{
                                                display: inline-block;
                                                
                                            }
    
                                                .vn-profile-page-visited-user-container{
                                                    width: 40px;
                                                    max-width: 40px;
                                                    height: 40px;
                                                    max-height: 40px;
                                                    margin-left: 5px;
                                                }
    
                                                    .vn-profile-page-visited-icon{
                                                        text-align: center;
                                                        align-items: center;
                                                        font-size: 17px;
                                                        line-height: 40px;
                                                        width: 40px;
                                                        height: 40px;
                                                        border-radius: 20px;
                                                        background: none;
                                                        color: #eee;
                                                        cursor: pointer;
                                                    }
    
                                                        .country-icon{
                                                            background: #6e71ff;
                                                        }
    
                                                        .city-icon{
                                                            background: #c167fd;
                                                        }
    
                                                        .place-icon{
                                                            background: #ff6e81;
                                                        }
    
                                            .vn-profile-page-visited-wraping{
                                                width: 280px;
                                                height: 40px;
                                            }
    
    
                    .vn-profile-page-top-right{
                        flex-grow: 1;
                    }
    
                        .vn-profile-page-top-right-container{ 
                            max-width: 600px;
                            float: right;
                        }
    
                            .vn-profile-page-top-right-button{
                                display: block;
                            }
    
                                .vn-profile-page-top-right-button-container{
                                    display: flex;
                                    flex-wrap: nowrap;
                                    max-width: 600px;
                                    height: auto;
                                    float: right;
                                }
    
                                    .vn-profile-page-top-main-button{
                                        display: inline-block;
                                    }
    
                                        .vn-profile-page-top-main-button-container{
                                           margin-left: 10px;
                                        }
    
                                            
                                            .vn-profile-page-top-main-button-container button{
                                                padding: 8px 12px 8px 12px;
                                                border-radius: 5px;
                                                font-family: open sans;
                                                font-size: 14px;
                                                font-weight: 600;
                                                border: 1px solid #4548ff;
                                                background: #4548ff;
                                                color: #fff;
                                                text-decoration: none;
                                                cursor: pointer;
                                            }
    
                                                .vn-hi-button{
                                                    border: 1px solid #4043ee;
                                                    color: #4043ee;
                                                    background: #fff;
                                                    font-size: 18px;
                                                }
    
                                                .vn-follow-button{
                                                    color: #fff;
                                                    background: #4043ee;
                                                }
    
                                                    .follow-icon{
                                                        margin-right: 5px;
                                                        font-size: 12px;
                                                    }

