*{
    margin: 0 auto;
    box-sizing: inherit;
}

.vn-container{
    max-width: 1000px;
}

.vn-sign-up-page{
    width: 1000px;
    padding-top: 70px;
    display: flex;
    height: auto;
    max-height: 550px;
}

    .vn-sign-up-page-left{
        display: block;
        float: left;
        max-width: 500px;
        width: 500px;
        max-height: 600px;
        padding-top: 25px;
    }

        .vn-sign-up-page-left-box{
            width: 380px;
            max-width: 380px;
        }

        .vn-sign-up-logo{
            margin-top: 20px;
        }

            .vn-sign-up-logo-link{    
                font-family: open sans;
                color: #343434;
                font-size: 23px;
                font-weight: 630;
                text-decoration: none;
            }
        
        .vn-sign-up-word{
            margin-top: 25px;
        }

            .vn-sign-up-word-text{
                font-family: open sans;
                color: #565656;
                font-weight: 600;
                font-size: 14px;
            }

        .vn-sign-up-verification{
            margin-top: 25px;
        }

            .vn-sign-up-verification-text{
                font-family: open sans;
                color: #565656;
                font-size: 13px;
            }

            .vn-sign-up-verification-code input[type="text"]{
                margin-top: 15px;
                width: 350px;
                border: none;
                height: 30px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                border-radius: 20px;
                background: #f4f4f4;
                text-decoration: none;
            }

            .vn-sign-up-email{            
                margin-top: 15px;
            }
    
                .vn-sign-up-email-text{
                    font-family: open sans;
                    color: #454545;
                    font-size: 13px;
                    font-weight: 600;
                }
    
                .vn-sign-up-email input[type="text"]{
                    margin-top: 5px;
                    width: 350px;
                    border: none;
                    height: 30px;
                    padding: 0 15px 0 15px;
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                    border-radius: 20px;
                    background: #f4f4f4;
                    text-decoration: none;
                }
    
            .vn-sign-up-password{           
                margin-top: 15px;
            }
    
                .vn-sign-up-password-text{
                    font-family: open sans;
                    color: #454545;
                    font-size: 13px;
                    font-weight: 600;
                }
    
                .vn-sign-up-password input[type="password"]{
                    margin-top: 5px;
                    width: 350px;
                    border: none;
                    height: 30px;
                    padding: 0 15px 0 15px;
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                    border-radius: 20px;
                    background: #f4f4f4;
                    text-decoration: none;
                }


            .vn-sign-up-reenter-password{            
                margin-top: 15px;
            }

            .vn-sign-up-reenter-password-text{
                font-family: open sans;
                color: #454545;
                font-size: 13px;
                font-weight: 600;
            }

            .vn-sign-up-reenter-password input[type="password"]{
                margin-top: 5px;
                width: 350px;
                border: none;
                height: 30px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                border-radius: 20px;
                background: #f4f4f4;
                text-decoration: none;
            }

            .vn-sign-up-name{            
                margin-top: 15px;
            }
    
                .vn-sign-up-name-text{
                    font-family: open sans;
                    color: #454545;
                    font-size: 13px;
                    font-weight: 600;
                }
    
                .vn-sign-up-name input[type="text"]{
                    margin-top: 5px;
                    width: 350px;
                    border: none;
                    height: 30px;
                    padding: 0 15px 0 15px;
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                    border-radius: 20px;
                    background: #f4f4f4;
                    text-decoration: none;
                }

            .vn-sign-up-gender{            
                margin-top: 15px;
            }
    
                .vn-sign-up-gender-text{
                    font-family: open sans;
                    color: #454545;
                    font-size: 13px;
                    font-weight: 600;
                }
    
                .vn-sign-up-gender input[type="text"]{
                    margin-top: 5px;
                    width: 350px;
                    border: none;
                    height: 30px;
                    padding: 0 15px 0 15px;
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                    border-radius: 20px;
                    background: #f4f4f4;
                    text-decoration: none;
                }

            .vn-sign-up-birthday{
                max-width: 380px;
                margin-top: 15px;
            }
    
                .vn-sign-up-birthday-text{
                    font-family: open sans;
                    color: #454545;
                    font-size: 13px;
                    font-weight: 600;
                }
    
                .vn-sign-up-birthday input[type="date"]{
                    margin-top: 5px;
                    width: 350px;
                    border: none;
                    height: 30px;
                    padding: 0 15px 0 15px;
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                    border-radius: 20px;
                    background: #f4f4f4;
                    text-decoration: none;
                }

            .vn-sign-up-agree-terms{
                margin-top: 15px;
                display: flex;
            }

                .vn-sign-up-agree{
                    display: flex;
                    flex-grow: 0;
                }

                    .vn-sign-up-agree-check-box{
                        text-decoration: none;
                    }

                    .vn-sign-up-agree-text{
                        font-family: open sans;
                        font-size: 12px;
                        color: #343434;
                        padding: 0 5px 0 5px;
                    }

                .vn-sign-up-terms{
                    flex-grow: 1;
                }

                    .vn-sign-up-terms-link{
                        float: left;
                        font-family: open sans;
                        font-size: 12px;
                        color: #3d29f5;
                        text-decoration: none;
                    }
                
            .vn-sign-up-skip-step{
                    margin-top: 15px;
                    max-width: 380px;
                }

                    .vn-sign-up-skip-step-text{
                        font-family: open sans;
                        font-size: 12px;
                        color: #343434;
                        padding: 0 5px 0 5px;
                    }
            
            .vn-sign-up-button-box{
                margin-top: 15px;
            }

                .vn-sign-up-button{
                        width: 350px;
                        height: 30px;
                        border: none;
                        color: #fff;
                        background: rgb(132, 25, 255);
                        border-radius: 20px;
                        padding: 0 15px 0 15px;
                        font-family: open sans;
                        font-size: 12px;
                        text-decoration: none;
                        cursor: pointer;
                }

            .vn-sign-up-verify-button-box{
                margin-top: 15px;
            }

                .vn-sign-up-verify-button{
                        width: 350px;
                        height: 30px;
                        border: none;
                        color: #fff;
                        background: rgb(132, 25, 255);
                        border-radius: 20px;
                        padding: 0 15px 0 15px;
                        font-family: open sans;
                        font-size: 12px;
                        text-decoration: none;
                        cursor: pointer;
                }

            .vn-sign-up-continue-button-box{
                margin-top: 15px;
                max-width: 380px;
            }

                .vn-sign-up-continue-button{
                        width: 350px;
                        height: 30px;
                        border: none;
                        color: #fff;
                        background: rgb(132, 25, 255);
                        border-radius: 20px;
                        padding: 0 15px 0 15px;
                        font-family: open sans;
                        font-size: 12px;
                        text-decoration: none;
                        cursor: pointer;
                }

            .vn-sign-up-login{
                margin-top: 15px;
            }

                .vn-sign-up-login-text{
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                }

                .vn-sign-up-login-text-link{
                    font-family: open sans;
                    font-size: 12px;
                    color: #3d29f5;
                    text-decoration: none;
                }

            .vn-sign-up-veryfication-not-send{
                margin-top: 15px;
            }

                .vn-sign-up-veryfication-not-send-text{
                    font-family: open sans;
                    font-size: 12px;
                    color: #343434;
                }

                .vn-sign-up-veryfication-not-send-text-link{
                    font-family: open sans;
                    font-size: 12px;
                    color: #3d29f5;
                    text-decoration: none;
                }

            .vn-sign-up-copyright{
                bottom: 0;
                max-width: 380px;
            }

                .vn-sign-up-copyright-text{
                    font-family: open sans;
                    font-size: 10px;
                    color: #343434;
                }


    .vn-sign-up-page-right{
        max-height: 600px;
        width: 500px;
        width: auto;
        float: left;
    }

        .vn-sing-up-page-right-box{
            width: 500px;
            height: auto;
            width: auto;
            display: flex;
          }
          
          .vn-sign-up-page-right-image{
            margin-right: 70px;
            margin-left: 30px;
            width: 400px;
            justify-content: flex-start;
            display: block;
          }
            
          .vn-sign-up-image{
            float: left;
            position: relative;
            border: none;
            margin: 20px 0 20px 0;
            width: 100%;
            padding: 0;
          }
          
          .vn-sign-up-image img{
            border-radius: 10px;
            position: relative;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
          }


          .vn-sign-up-image .vn-sign-up-image-text{
            border-radius: 10px;
            width: 100%;
            position: absolute;
            border: none;
            margin: 0;
            padding: 0;
            top: 20px;
            bottom: -20px;
            left: 20px;
            z-index: 50;
            background: rgba(140, 40, 255, 0.5);
          }
          
          
          .vn-sign-up-image-text .vn-sign-up-image-text-center{
            max-width: 350px;
            display: flex;
            position: absolute;
            top: 120px;
            left: 20px;
            z-index: 51;
          }

          .vn-sign-up-image-text-a{
              font-family: montserrat;
              font-size: 45px;
              font-weight: 700;
              color: #fff;
              opacity: 1;
          }