*{
    margin: 0 auto;
    box-sizing: inherit;
}

.vn-container{
    max-width: 1000px;
}

.vn-forget-password-page{
    width: 1000px;
    padding-top: 70px;
    display: flex;
    height: auto;
    max-height: 550px;
}

    .vn-forget-password-page-left{
        display: block;
        float: left;
        max-width: 500px;
        width: 500px;
        max-height: 600px;
        padding-top: 25px;
    }

        .vn-forget-password-page-left-box{
            width: 380px;
            max-width: 380px;
        }

        .vn-forget-password-logo{
            margin-top: 20px;
        }

            .vn-forget-password-logo-link{    
                font-family: open sans;
                color: #343434;
                font-size: 23px;
                font-weight: 500;
                text-decoration: none;
            }
        
        .vn-forget-password-word{
            margin-top: 25px;
        }

            .vn-forget-password-word-text{
                font-family: open sans;
                font-weight: 600;
                font-size: 14px;
                color: #343434;
            }

        .vn-forget-password-email{            
            margin-top: 15px;
        }

            .vn-forget-password-email-text{
                font-family: open sans;
                color: #454545;
                font-size: 13px;
                font-weight: 600;
            }

            .vn-forget-password-email input[type="text"]{
                margin-top: 10px;
                width: 350px;
                border: none;
                height: 35px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                border-radius: 5px;
                background: #f4f4f4;
                text-decoration: none;
                outline: none;
            }

        .vn-forget-password-password{            
            margin-top: 15px;
        }

            .vn-forget-password-password-text{
                font-family: open sans;
                color: #454545;
                font-size: 13px;
                font-weight: 600;
            }

            .vn-forget-password-password input[type="password"]{
                margin-top: 10px;
                width: 350px;
                border: none;
                height: 35px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                border-radius: 5px;
                background: #f4f4f4;
                text-decoration: none;
                outline: none;
            }

        .vn-forget-password-remember-me{
            display: flex;
            margin-top: 15px;
        }

            .vn-forget-password-remember-me-check-box{
                text-decoration: none;
                flex-grow: 0;
            }

            .vn-forget-password-remember-me-text{
                flex-grow: 1;
                font-family: open sans;
                font-size: 12px;
                color: #343434;
                padding: 0 5px 0 5px;
            }

        .vn-forget-password-button-box{
            margin-top: 15px;
        }

            .vn-forget-password-button{
                width: 346px;
                height: 31px;
                border: 2px solid #4548ff;
                color: #fff;
                background: #4548ff;
                border-radius: 5px;
                padding: 0 15px 0 15px;
                font-family: open sans;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                cursor: pointer;
            }

            .vn-forget-password-button:hover{
                border: 2px solid #efefef;
                color: #4548ff;
                background: none;
            }

        .vn-forget-password-verification{
            margin-top: 15px;
        }

            .vn-forget-password-verification-text{
                font-family: open sans;
                color: #343434;
                font-size: 13px;
            }

        .vn-forget-password-verification-not-send{
            margin-top: 5px;
        }

            .vn-forget-password-verification-not-send-text{
                font-family: open sans;
                font-size: 13px;
                font-weight: 500;
                color: #343434;
            }

            .vn-forget-password-verification-not-send-text-link{
                font-family: open sans;
                font-size: 13px;
                font-weight: 500;
                color: #3d29f5;
                text-decoration: none;
                border-bottom: 2px solid transparent;
            }

            .vn-forget-password-verification-not-send-text-link:hover{
                border-bottom: 2px solid #4548ff;
            }

        .vn-forget-password-copyright{
            margin-top: 10px;
            display: block;
        }

            .vn-forget-password-copyright-text{
                font-family: open sans;
                font-size: 11px;
                color: #343434;
            }

    
    .vn-forget-password-page-right{
        max-height: 600px;
        width: 500px;
        width: auto;
        float: left;
    }

        .vn-forget-password-page-right-box{
            width: 500px;
            height: auto;
            width: auto;
            display: flex;
          }
          
          .vn-forget-password-page-right-image{
            margin-right: 70px;
            margin-left: 30px;
            width: 400px;
            justify-content: flex-start;
            display: block;
          }
            
          .vn-forget-password-image{
            display: block;
            position: relative;
            border: none;
            margin: 20px 0;
            width: 100%;
            height: 500px;
          }
          
          .vn-forget-password-image img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
          }


          .vn-forget-password-image-background{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            position: absolute;
            border: none;
            top: 0;
            left: 0;
            z-index: 50;
            background: rgba(0, 0, 0, 0.4);
          }

          .vn-forget-password-image-text{
            position: absolute;
            z-index: 55;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }

          .vn-forget-password-image-text-a{
              font-family: montserrat;
              font-size: 45px;
              font-weight: 700;
              color: #fff;
              opacity: 1;
          }