.vn-notification{
    display: none;
    position: absolute;
    z-index: 99;
    top: 70px;
    right: 0;
    padding: 0 20px 30px 20px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);  
    border-radius: 0 0 20px 20px;
}    

.vn-notification.active-content{
    display: block;
}    
    
    .vn-notification-container{
        width: 350px;
        max-width: 350px;
        height: 465px;
        overflow-y: scroll; 
    }

    .vn-notification-container{
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .vn-notification-container::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

        .vn-notification-head{
            display: block;
            margin: 0;
        }

            .vn-notification-head-container{
                display: flex;
                border-bottom: 2px solid #f4f4f4;
                height: 50px;
            }

                .vn-notification-head-left{
                    display: block;
                    flex-grow: 0;
                    height: 100%;
                }

                    .vn-notification-tittle{
                        display: block;
                        height: 100%;
                        float: left;
                        line-height: 50px;
                    }

                        .vn-notification-tittle-style{
                            font-family: open sans;
                            font-size: 17px;
                            font-weight: 600;
                            color: #383846;
                        }

                .vn-notification-head-right{
                    display: block;
                    flex-grow: 1;
                    height: 100%;
                }

                    .vn-notification-mark-as-read{
                        display: block;
                        height: 100%;
                        float: right;
                        line-height: 50px;
                    }

                        .vn-notification-mark-as-read-style{
                            font-family: open sans;
                            font-size: 12px;
                            font-weight: 500;
                            color: #4548ff;
                            text-decoration: none;
                            border: none;
                            background: none;
                            cursor: pointer;
                        }

                        .vn-notification-mark-as-read-style:hover{
                            border-bottom: 2px solid #4548ff;
                        }

        .vn-notification-body{
            display: block;
            cursor: pointer;
        }

            .vn-notification-body-container{
                display: flex;
                padding: 20px 0;
                border-bottom: 2px solid #f4f4f4;
            }

                .vn-notification-body-left{
                    display: block;
                    flex-grow: 0;
                    width: 50px;
                    max-width: 50px;
                }

                    .vn-notification-profile{
                        display: block;
                        float: left;
                    }

                        .vn-notification-profile-container{
                            max-width: 40px;
                            width: 40px;
                            height: auto;
                        }

                            .vn-notification-profile-image{
                                width: 40px;
                                max-width: 40px;
                                height: 40px;
                                max-height: 40px;
                                border-radius: 20px;
                            }

                            .vn-notification-profile-image img{
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                            }

                .vn-notification-body-right{
                    display: block;
                    flex-grow: 1;
                    width: 300px;
                    max-width: 300px;
                }

                    .vn-notification-body-content{
                        display: block;
                    }

                        .vn-notification-body-content-container{
                            display: block;
                        }

                            .vn-notification-body-content-top{
                                display: inline-block;
                                width: 100%;
                            }

                                .vn-notification-profile-name{
                                    display: block;
                                    float: left;
                                }

                                    .vn-notification-profile-style{
                                        font-family: open sans;
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: #383846;
                                        text-align: left;
                                    }

                                .vn-notification-time{
                                    display: block;
                                    float: right;
                                }

                                    .vn-notification-time-style{
                                        font-family: open sans;
                                        font-size: 11px;
                                        font-weight: 500;
                                        color: #aeaecc;
                                        text-align: right;
                                    }

                                    .time-unread{  
                                        font-weight: 600;
                                        color: #4043ee;
                                    }

                            .vn-notification-body-content-bottom{
                                display: block;
                                width: 100%;
                            }

                                .vn-notification-content-fill{
                                    display: block;
                                }

                                    .vn-notification-content-style{
                                        font-family: open sans;
                                        font-size: 12px;
                                        font-weight: 500;
                                        color: #89899e;
                                    }

                                    .content-unread{
                                        font-weight: 600;
                                        color: #383846;
                                    }