*{
    margin: 0 auto;
}

.vn-photo-content-background{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.vn-photo-content-background.active-content{
    display: block;
}


.vn-photo-content-close{
    display: block;
    position: absolute;
    right: 20px;
    top: 40px;
}

    .vn-photo-content-close-container{
        width: 50px;
        height: 50px;
    }

        .vn-photo-content-close-button{
            font-size: 40px;
            color: #fff;
            border: none;
            background: none;
            cursor: pointer;           
        }

.vn-photo-content{
    display: block;
    margin: 5vh 0;
}

    .vn-photo-content-container{
        max-width: 1200px ;
        height: 90vh;
        max-height: 90vh;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        background: #fff;
    }

        .vn-photo-content-left{
            background-color: #f4f4f4;
            display: inline-block;
            flex-grow: 0;
            border-radius: 20px 0 0 20px;
        }

            .vn-photo-content-left-container{
                width: 500px;
                max-width: 600px;
                max-height: 90vh;
                margin: 50px;
            }

                .vn-photo-author-post{
                    display: block;
                    margin-bottom: 20px;
                }

                    .vn-photo-author-post-container{
                        max-width: 500px;
                        display: flex;
                        flex-wrap: nowrap;
                    }

                        .vn-author-post-profile-left{
                            display: inline-block;
                            flex-grow: 0;
                        }

                            .vn-author-post-profile-left-container{
                                width: 50px;
                                height: 50px;
                                float: left;
                            }

                                .vn-author-post-profile-left-container img{
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 25px;
                                }

                        .vn-author-post-profile-center{
                            display: inline-block;
                            flex-grow: 1;
                        }

                            .vn-author-post-profile-center-container{
                                width: 340px;
                                height: 50px;
                                padding-left: 10px;
                            }

                                .vn-author-post-profile-name{
                                    display: block;
                                }

                                .vn-author-post-profile-name-container{
                                    width: 100%;
                                }

                                .vn-author-post-profile-name-style{
                                    font-family: open sans;
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: #343434;
                                }

                                .vn-author-post-profile-location{
                                    display: block;
                                }

                                .vn-author-post-profile-location-container{
                                    width: 100%;
                                }

                                .vn-author-post-profile-location-style{
                                    font-family: open sans;
                                    font-size: 13px;
                                    font-weight: 600;
                                    color: #565656;
                                }

                        .vn-author-post-profile-right{
                            display: inline-block;
                            flex-grow: 2;
                        }

                            .vn-author-post-profile-right-container{
                                width: 100px;
                                max-width: 100px;
                                height: 50px;
                            }

                                .vn-author-post-profile-follow-button{
                                    display: block;
                                    float: right;
                                }
                                
                                .vn-author-post-profile-follow-button-style{
                                    height: 40px;
                                    line-height: 40px;
                                    padding: 0 15px;
                                    font-family: open sans;
                                    font-size: 15px;
                                    font-weight: 600;
                                    color: #49465e;
                                    background: #dedede;
                                    border: none;
                                    border-radius: 5px;
                                    outline: none;
                                    cursor: pointer;
                                }

                                .vn-author-post-profile-follow-button-style:hover{
                                    color: #eee;
                                    background: #5c4aff;
                                }

                .vn-author-photo-post{
                    display: block;
                    position: relative;
                }

                    .vn-author-photo-post-container{
                        width: 500px;
                        max-width: 500px;
                        height: 500px;
                        max-height: 500px;
                    }

                        .vn-author-photo-post-image{
                            position: absolute;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                            align-self: center;
                            top:50%;
                            left:50%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }

                        .vn-author-photo-post-image img{
                            max-width: 500px;
                            max-height: 500px;
                            border-radius: 10px;
                            position: absolute;
                            align-items: center;
                            justify-content: center;
                            align-self: center;
                            top:50%;
                            left:50%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }


        .vn-photo-content-right{
            display: inline-block;
            flex-grow: 1;
        }

            .vn-photo-content-right-container{
                width: 500px;
                max-width: 600px;
                max-height: 90vh;
                margin: 50px;
            }

                .vn-photo-content-post-navigation{
                    display: block;
                    margin-bottom: 20px;
                }

                    .vn-photo-content-post-navigation-container{
                        display: flex;
                        flex-wrap: nowrap;
                        width: 500px;
                        max-width: 500px;
                        height: 50px;
                        max-height: 50px;
                    }

                    .vn-photo-navigation-left{
                        display: block;
                        flex-grow: 0;
                    }

                    .vn-photo-navigation-left-container{
                        width: 350px;
                        max-width: 350px;
                        height: 50px;
                        max-height: 50px;
                    }

                        .vn-photo-navigation-love{
                            display: inline-block;
                            margin-right: 5px;
                        }

                            .vn-photo-navigation-love-container{
                                max-width: 100px;
                                height: 50px;
                            }

                            .vn-photo-navigation-love-style{
                                width: auto;
                                padding: 0 13px;
                                height: 50px;
                                max-height: 50px;
                                text-align: center;
                                font-family: open sans;
                                font-size: 20px;
                                font-weight: 600;
                                border-radius: 5px;
                                cursor: pointer;
                                background: none;
                                color: #636388;
                                border: 2px solid #f4f4f4;
                            }

                            .vn-photo-navigation-love-style:hover{
                                background: #ffdfe6;
                                border: 2px solid #ffdfe6;
                            }

                            .vn-photo-navigation-love-style:hover .react-icon-love-icon{
                                color: none;
                                -webkit-text-stroke-color: #fd3560;
                                background: none;
                            }

                            .react-icon-love-icon{
                                margin-right: 5px;
                                background: none;
                                color: transparent;
                                -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: #636388;
                            }

                            .react-icon-love-icon.active-react{
                                color: #fd3560;
                                -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: #fd3560;
                                background: none;
                            }

                    .vn-photo-navigation{
                        display: inline-block;
                        margin-right: 5px;
                    }
                    
                        .vn-photo-navigation-container{
                            width: 50px;
                            height: 50px;
                        }

                            .vn-photo-navigation-style{
                                width: 50px;
                                max-width: 50px;
                                height: 50px;
                                max-height: 50px;
                                text-align: center;
                                font-size: 20px;
                                border-radius: 5px;
                                cursor: pointer;
                                color: transparent;
                                -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: #636388;
                                background: none;
                                border: 2px solid #f4f4f4;
                            }

                            .vn-photo-navigation-style:hover{
                                color: none;
                                -webkit-text-stroke-width: 2px;
                                -webkit-text-stroke-color: #3542fd;
                                background: #dfe5ff;
                                border: 2px solid #dfe5ff;
                            }

                                .react-icon-bookmark{
                                    color: transparent;
                                    -webkit-text-stroke-width: 2px;
                                    -webkit-text-stroke-color: #636388;
                                    background: none;
                                    border: 2px solid #f4f4f4;
                                }

                                .active-react-icon-bookmark{
                                    color: #ffa217;
                                    -webkit-text-stroke-width: 2px;
                                    -webkit-text-stroke-color: #ffa217;
                                }

                                .react-icon-bookmark:hover{
                                    color: none;
                                    -webkit-text-stroke-width: 2px;
                                    -webkit-text-stroke-color: #ffa217;
                                    background: #fde7d1;
                                    border: 2px solid #fde7d1;
                                }

                                .active-react-icon-map{
                                    color: #3542fd;
                                    -webkit-text-stroke-width: 2px;
                                    -webkit-text-stroke-color: #3542fd;
                                }
                                .active-react-icon-pinned{
                                    color: #3542fd;
                                    -webkit-text-stroke-width: 2px;
                                    -webkit-text-stroke-color: #3542fd;
                                }
                                .active-react-icon-comment{
                                    color: #3542fd;
                                    -webkit-text-stroke-width: 2px;
                                    -webkit-text-stroke-color: #3542fd;
                                }

              
                        
                    .vn-photo-navigation-right{
                        display: block;
                        flex-grow: 1;
                    }

                    .vn-photo-navigation-right-container{
                        width: 150px;
                        height: 100%;
                    }

                        .vn-photo-navigation-other{
                            display: block;
                            margin-left: 5px;
                            float: right;
                        }
                        
                        .vn-photo-navigation-other-container{
                            width: 50px;
                            height: 50px;
                        }

                        .vn-photo-navigation-other-style{
                            width: 50px;
                            max-width: 50px;
                            height: 50px;
                            max-height: 50px;
                            text-align: center;
                            font-size: 20px;
                            border-radius: 5px;
                            cursor: pointer;
                            color: #636388;
                            background: #efefef;
                            border: none;
                        }

                            .other-react-item.active-content{
                                background: #3542fd;
                                color: #eee;
                            }
        
                            .other-react-item:hover{
                                background: #3542fd;
                                color: #eee;
                            }

                    

.vn-photo-navigation-bookmark-hover-content{
    display: none;
    position: absolute;
    z-index: 55;
    margin-top: 12px;
    margin-left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #efefef;
    cursor: pointer;
    color: #636388;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}

.navigation-bookmark-icon:hover .vn-photo-navigation-bookmark-hover-content{
    display: block;
}

.vn-photo-navigation-commentar-hover-content{
    display: none;
    position: absolute;
    z-index: 55;
    margin-top: 12px;
    margin-left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #efefef;
    cursor: pointer;
    color: #636388;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}

.navigation-commentar-icon:hover .vn-photo-navigation-commentar-hover-content{
    display: block;
}

.vn-photo-navigation-maps-hover-content{
    display: none;
    position: absolute;
    z-index: 55;
    margin-top: 12px;
    margin-left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #efefef;
    cursor: pointer;
    color: #636388;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}

.navigation-maps-icon:hover .vn-photo-navigation-maps-hover-content{
    display: block;
}

.vn-photo-navigation-pinned-hover-content{
    display: none;
    position: absolute;
    z-index: 55;
    margin-top: 12px;
    margin-left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    font-family: open sans;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #efefef;
    cursor: pointer;
    color: #636388;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}

.navigation-pinned-icon:hover .vn-photo-navigation-pinned-hover-content{
    display: block;
}

.vn-photo-share-content{
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -40px;
}

.vn-photo-share-content.active-content{
    display: block;
}

.vn-photo-share-content-container{
    width: 150px;
    height: auto;
    padding: 25px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px -3px 25px 0px rgba(0,0,0,0.2);
}

    .vn-photo-share-content-item{
        display: block;
        cursor: pointer;
    }

    .vn-photo-share-content-item:hover{
        display: block;
        background: #efefef;
    }

        .vn-photo-share-content-item-container{
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin-bottom: 5px;
            text-align: center;
        }

        .vn-photo-share-content-item-style{
            font-family: open sans;
            font-size: 14px;
            font-weight: 600;
            color: #343434;
        }

.vn-photo-dot-content{
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -95px;
}

.vn-photo-dot-content.active-content{
    display: block;
}

.vn-photo-dot-content-container{
    min-width: 150px;
    height: auto;
    padding: 25px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px -3px 25px 0px rgba(0,0,0,0.2);
}

    .vn-photo-dot-content-item{
        display: block;
        cursor: pointer;
    }

    .vn-photo-dot-content-item:hover{
        display: block;
        background: #efefef;
    }

        .vn-photo-dot-content-item-container{
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin-bottom: 5px;
            text-align: center;
        }

        .vn-photo-dot-content-item-style{
            font-family: open sans;
            font-size: 14px;
            font-weight: 600;
            color: #343434;
        }

                    .vn-photo-navigation-commentar-content{ /* commentar */
                        display: none;
                    }

                    .vn-photo-navigation-commentar-content.active-content{ /* commentar */
                        display: block;
                    }

                        .vn-photo-navigation-commentar-content-container{
                            width: 500px;
                        }

                            .vn-photo-navigation-tittle{
                                display: block;
                                margin-bottom: 20px;
                            }

                                .vn-photo-navigation-tittle-container{
                                    width: 100%;
                                }

                                    .vn-photo-navigation-titlle-style{
                                        font-family: open sans;
                                        font-size: 20px;
                                        font-weight: 600;
                                        color: #343434;
                                    }

                        .vn-photo-user-commentar{
                            display: block;
                            overflow: hidden;
                            margin-bottom: 20px;
                        }

                            .vn-photo-user-commentar-container{
                                width: 500px;
                                height: 50vh;
                                max-height: 50vh;
                                overflow-y: scroll;
                                -ms-overflow-style: none;  /* IE and Edge */
                                scrollbar-width: none;  /* Firefox */
                            }

                            .vn-photo-user-commentar-container::-webkit-scrollbar {
                                display: none;
                            }

                            .vn-photo-user-impression{ 
                                background: none;
                                display: block;
                                padding: 10px 20px;
                                border-radius: 10px;
                                margin-bottom: 5px;
                                border: 2px solid transparent;
                            }

                            .vn-photo-user-impression.active-pinned{ 
                                border: 2px solid #f4f4f4;
                            }

                            .vn-photo-caption{
                                border-radius: 10px;
                                background: #dfecff;
                            }

                            .vn-photo-user-impression-container{
                                width: 100%;
                                height: auto;
                                display: flex;
                                flex-wrap: nowrap;
                            }

                            .vn-photo-user-impression-left{
                                display: inline-block;
                                flex-grow: 0;
                            }

                            .vn-photo-user-impression-left-container{
                                width: 40px;
                                height: auto;
                            }

                                .vn-photo-user-impression-profile{
                                    display: block;
                                }

                                .vn-photo-user-impression-profile-container{
                                    width: 40px;
                                    height: auto;
                                }

                                .vn-photo-user-impression-profile-container img{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 20px;
                                }


                            .vn-photo-user-impression-right{
                                display: inline-block;
                                flex-grow: 1;
                            }
                            
                            .vn-photo-user-impression-right-container{
                                width: 410px;
                                height: auto;
                                padding-left: 10px;
                            }

                                .vn-photo-user-impression-data{
                                    display: block;
                                    line-height: 20px;
                                }

                                .vn-photo-user-impression-data-container{
                                    width: 100%;
                                    display: flex;
                                    flex-wrap: nowrap;
                                }

                                    .vn-photo-user-impression-data-name{
                                        display: inline-block;
                                        flex-grow: 0;
                                    }

                                    .vn-photo-user-impression-data-name-container{
                                        width: 100%;
                                    }

                                        .vn-photo-user-impression-data-name-style{
                                            font-family: open sans;
                                            font-size: 14px;
                                            font-weight: 700;
                                            color: #343434;
                                        }

                                    .vn-photo-user-impression-data-time{
                                        display: inline-block;
                                        flex-grow: 1;
                                        margin-left: 5px;
                                    }

                                    .vn-photo-user-impression-data-time-container{
                                        width: auto;
                                    }

                                        .vn-photo-user-impression-data-time-style{
                                            font-family: open sans;
                                            font-size: 10px;
                                            font-weight: 600;
                                            color: #565656;
                                        }

                                        .vn-photo-user-impression-data-icon{
                                            display: inline-block;
                                            flex-grow: 2;
                                            margin-left: 5px;
                                        }

                                        .vn-photo-user-impression-data-icon-container{
                                            width: auto;
                                            line-height: 20px;
                                            text-align: right;
                                        }

                                        .vn-photo-user-impression-data-fill{
                                            display: block;
                                            margin-bottom: 5px;
                                        }
    
                                        .vn-photo-user-impression-data-fill-container{
                                            width: 100%;
                                        }
    
                                            .vn-photo-user-impression-data-fill-style{
                                                font-family: open sans;
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: #343434;
                                            }

                                        .vn-photo-commentar-love{
                                            display: inline-block;
                                            margin-right: 3px;
                                        }

                                        .vn-photo-commentar-love-container{
                                            width: auto;
                                            height: 20px;
                                        }

                                        .vn-photo-commentar-love-style{
                                            width: auto;
                                            padding: 0 3px;
                                            height: 20px;
                                            max-height: 20px;
                                            text-align: center;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 600;
                                            border-radius: 5px;
                                            cursor: pointer;
                                            background: none;
                                            color: #636388;
                                            border: none;
                                        }
            
                                        .vn-photo-commentar-love-style:hover .commentar-react-icon-love-icon{
                                            color: none;
                                            -webkit-text-stroke-color: #fd3560;
                                            background: none;
                                        }
            
                                        .commentar-react-icon-love-icon{
                                            margin-right: 5px;
                                            background: none;
                                            color: transparent;
                                            -webkit-text-stroke-width: 2px;
                                            -webkit-text-stroke-color: #636388;
                                        }
            
                                        .commentar-react-icon-love-icon.active-react{
                                            color: #fd3560;
                                            -webkit-text-stroke-width: 2px;
                                            -webkit-text-stroke-color: #fd3560;
                                            background: none;
                                        }

                                        .vn-photo-commentar-pinned{
                                            display: none;
                                            margin-right: 3px;
                                        }

                                        .vn-photo-commentar-pinned.active-content{
                                            display: inline-block;
                                            margin-right: 3px;
                                        }

                                        .vn-photo-commentar-pinned-container{
                                            width: auto;
                                            height: 20px;
                                        }

                                        .vn-photo-commentar-pinned-style{
                                            width: auto;
                                            padding: 0 3px;
                                            height: 20px;
                                            max-height: 20px;
                                            text-align: center;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 600;
                                            border-radius: 5px;
                                            cursor: pointer;
                                            background: none;
                                            color: #636388;
                                            border: none;
                                        }

                                        .vn-photo-commentar-3dot{
                                            display: inline-block;
                                        }
                                        
                                        .vn-photo-commentar-3dot-container{
                                            width: auto;
                                            height: 20px;
                                        }

                                        .vn-photo-commentar-3dot-style{
                                            width: auto;
                                            padding: 0 3px;
                                            height: 20px;
                                            max-height: 20px;
                                            text-align: center;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 600;
                                            border-radius: 5px;
                                            cursor: pointer;
                                            background: none;
                                            color: #636388;
                                            border: none;
                                        }

                                        .photo-pinned-user-impression-data-icon-content{
                                            display: none;
                                            position: absolute;
                                            margin-top: 5px;
                                            margin-left: -70px;
                                        }

                                        .photo-pinned-user-impression-data-icon-content.active-content{
                                            display: block;
                                        }

                                        .photo-pinned-user-impression-data-icon-content-container{
                                            width: 80px;
                                            height: auto;
                                            padding: 10px 0;
                                            border-radius: 5px;
                                            background: #fff;
                                            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                                            text-align: center;
                                        }

                                        .photo-pinned-user-impression-data-icon-content-style{
                                            display: block;
                                            width: 100%;
                                            height: 22px;
                                            line-height: 22px;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: #343434;
                                            cursor: pointer;
                                        }

                                        .photo-pinned-user-impression-data-icon-content-style.un-active-content{
                                            display: none;
                                        }


                                        .photo-unpinned-user-impression-data-icon-content-style{
                                            display: none;
                                            width: 100%;
                                            height: 22px;
                                            line-height: 22px;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: #343434;
                                            cursor: pointer;
                                        }

                                        .photo-unpinned-user-impression-data-icon-content-style.active-content{
                                            display: block;
                                        }

                                        .photo-report-user-impression-data-icon-content-style{
                                            display: block;
                                            width: 100%;
                                            height: 22px;
                                            line-height: 22px;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: #343434;
                                            cursor: pointer;
                                        }

                                        .photo-pinned-user-impression-data-icon-content-style:hover{
                                            background: #efefef;
                                        }

                                        .photo-unpinned-user-impression-data-icon-content-style:hover{
                                            background: #efefef;
                                        }

                                        .photo-report-user-impression-data-icon-content-style:hover{
                                            background: #efefef;
                                        }



                        .vn-photo-user-commentar-textbox{
                            display: block;
                        }

                            .vn-photo-user-commentar-textbox-container{
                                border-radius: 10px;
                                background: #fff;
                                width: 100%;
                                height: 50px;
                                display: flex;
                                flex-wrap: nowrap;
                            }

                                .vn-photo-commentar-textbox-left{
                                    display: inline-block;
                                    flex-grow: 0;
                                }

                                    .vn-photo-commentar-textbox-left-container{
                                        width: 50px;
                                        height: 50px;
                                    }

                                        .vn-photo-commentar-user-profile{
                                            width: 50px;
                                            height: 50px;
                                        }

                                            .vn-photo-commentar-user-profile img{
                                                width: 50px;
                                                height: 50px;
                                                border-radius: 25px;
                                            }

                                .vn-photo-commentar-textbox-center{
                                    display: inline-block;
                                    flex-grow: 1;
                                    padding-left: 10px;
                                }

                                    .vn-photo-commentar-textbox-center-container{
                                        width: 360px;
                                        max-width: 360px;
                                        height: 50px;
                                        position: relative;
                                    }

                                        .vn-photo-commentar-textbox-center-container input[type="text"]{
                                            width: 330px;
                                            border: none;
                                            height: 50px;
                                            padding: 0 15px;
                                            font-family: open sans;
                                            font-size: 13px;
                                            color: #343434;
                                            border-radius: 5px;
                                            background: #f4f4f4;
                                            text-decoration: none;
                                            outline: none;                
                                        }

                                        .vn-photo-commentar-textbox-text{
                                            width: 340px;
                                            height: 30px;
                                            max-height: 50px;
                                            padding: 10px;
                                            font-family: open sans;
                                            font-size: 12px;
                                            font-weight: 600;
                                            color: #343434;
                                            background: #f4f4f4;
                                            border: none;
                                            text-decoration: none;
                                            outline: none;  
                                            resize: none;     
                                            overflow-y: scroll; 
                                            -ms-overflow-style: none;  /* Internet Explorer 10+ */
                                            scrollbar-width: none;  /* Firefox */
                                        }

                                        .vn-photo-commentar-textbox-text::-webkit-scrollbar { 
                                            display: none;  /* Safari and Chrome */
                                        }
                                    

                                        .vn-photo-commentar-textbox-center-container button{
                                            position: absolute;
                                            right: 5px;
                                            top: 0 ;
                                            height: 50px;
                                        }    
                                    
                                            .vn-photo-commentar-emoticon-button{
                                                font-size: 16px;
                                                cursor: pointer;
                                                color: #8a8aaf;
                                                background: none;
                                                border: none;
                                                outline: none;
                                            }

                                            .vn-photo-commentar-textbox-right{
                                                display: inline-block;
                                                flex-grow: 1;
                                            }
            
                                                .vn-photo-commentar-textbox-right-container{
                                                    width: 70px;
                                                    max-width: 70px;
                                                    height: 50px;
                                                }

                                                .vn-photo-commentar-textbox-button{
                                                    display: block;
                                                    float: right;
                                                }

                                                .vn-photo-commentar-textbox-button-container{
                                                    width: 100%;
                                                }

                                                .vn-photo-commentar-send-button{
                                                    height: 50px;
                                                    padding: 0 15px;
                                                    font-family: open sans;
                                                    font-size: 16px;
                                                    font-weight: 600;
                                                    color: #eee;
                                                    background: #5c4aff;
                                                    border: none;
                                                    border-radius: 5px;
                                                    cursor: pointer;
                                                }


                                                .vn-commentar-textbox-emoticon-content{
                                                    display: none;
                                                    position: absolute;
                                                    bottom: 60px;
                                                    padding: 10px 0;
                                                    background: #fff;
                                                }
                    
                                                
                                                .vn-commentar-textbox-emoticon-content.active-content{
                                                    display: block;
                                                }
                    
                                                    .vn-commentar-textbox-emoticon-content-container{
                                                        width: 340px;
                                                        max-width: 340px;
                                                        padding: 10px;
                                                        border-radius: 10px;
                                                        background: #f4f4f4;
                                                    }
                                                        
                                                        .vn-commentar-emoticon{
                                                            align-items: center;
                                                            justify-content: center;
                                                            text-align: center;
                                                        }
                    
                                                            .vn-commentar-emoticon span{
                                                                font-size: 16px;
                                                                cursor: pointer;
                                                            }

.vn-photo-map-content{ /*---- maps ----*/
    display: none;
}

.vn-photo-map-content.active-content{ /*---- maps ----*/
    display: block;
}

.vn-photo-map-content-container{
    width: 500px;
    max-width: 500px;
}

.vn-photo-map-tittle{
    display: block;
    margin-bottom: 20px;
}

    .vn-photo-map-tittle-container{
        width: 100%;
    }

        .vn-photo-map-titlle-style{
            font-family: open sans;
            font-size: 20px;
            font-weight: 600;
            color: #343434;
        }

.vn-photo-map{
    display: block;
    margin-bottom: 20px;
}

    .vn-photo-map-container{
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        background: #efefef;
        text-align: center;
        line-height: 50vh;
    }

        .vn-photo-map-container-text-style{
            font-family: open sans;
            font-size: 40px;
            font-weight: 600;
            color: #343434; 
        }

.vn-photo-map-button-box{
    display: block;
    margin-bottom: 20px;
}

    .vn-photo-map-button-box-container{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

        .vn-photo-map-button-left{
            display: block;
            flex-grow: 0;
            float: left;
        }

        .vn-photo-map-button-left-container{
            width: 250px;
            height: 40px;
        }

        .vn-photo-map-button-right{
            display: block;
            flex-grow: 1;
        }

        .vn-photo-map-button-right-container{
            width: 250px;
            height: 40px;
        }

        .vn-photo-map-button{
            display: inline-block;
        }

        .vn-photo-map-right-button{
            display: block;
            float: right;
        }

        .vn-photo-map-direction-button-style{
            height: 40px;
            padding: 0 10px;
            text-align: center;
            font-size: 16px;
            color: #636388;
            background: #fff;
            border: 2px solid #efefef;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .vn-photo-map-direction-button-style:hover{
            color: #fff;
            background: #5c4aff;
        }

        .margin-icon{
            font-size: 18px;
            margin-right: 5px;
        }

        .vn-photo-map-right-button-style{
            width: 40px;
            max-width: 40px;
            height: 40px;
            max-height: 40px;
            margin-left: 5px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #636388;
            background: none;
            border: 2px solid #efefef;
        }

        .vn-photo-map-right-button-style:hover{
            color: #3542fd;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #3542fd;
            background: #dfe5ff;
        }

        .vn-photo-share-hover-content{
            display: none;
            position: absolute;
            z-index: 55;
            margin-top: -80px;
            margin-left: 5px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            text-align: center;
            font-family: open sans;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            border: 2px solid #efefef;
            cursor: pointer;
            color: #636388;
            background: #fff;
        }

        .map-right-share:hover .vn-photo-share-hover-content{
            display: block;
        }

        .vn-photo-bookmark-hover-content{
            display: none;
            position: absolute;
            z-index: 55;
            margin-top: -80px;
            margin-left: 5px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            text-align: center;
            font-family: open sans;
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            border: 2px solid #efefef;
            cursor: pointer;
            color: #636388;
            background: #fff;
        }

        .map-right-bookmark:hover .vn-photo-bookmark-hover-content{
            display: block;
        }

        .vn-photo-gmaps-hover-content{
            display: none;
            position: absolute;
            z-index: 55;
            margin-top: -80px;
            margin-left: 5px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            text-align: center;
            font-family: open sans;
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            border: 2px solid #efefef;
            cursor: pointer;
            color: #636388;
            background: #fff;
        }

        .map-right-gmaps:hover .vn-photo-gmaps-hover-content{
            display: block;
        }



        .vn-photo-pinned-content{ /*---- Pinned ----*/
            display: none;
        }

        .vn-photo-pinned-content.active-content{ /*---- Pinned ----*/
            display: block;
        }
        
        .vn-photo-pinned-content-container{
            width: 500px;
            max-width: 500px;
        }
        
        .vn-photo-pinned-tittle{
            display: block;
            margin-bottom: 20px;
        }
        
            .vn-photo-pinned-tittle-container{
                width: 100%;
            }
        
                .vn-photo-pinned-titlle-style{
                    font-family: open sans;
                    font-size: 20px;
                    font-weight: 600;
                    color: #343434;
                }

        .vn-photo-pinned-data{
            display: block;
            margin-bottom: 20px;
        }
        
            .vn-photo-pinned-data-container{
                width: 100%;
                height: 60vh;
                max-height: 60vh;
                overflow-y: scroll;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }

           
            .vn-photo-pinned-data-container::-webkit-scrollbar {
                display: none;
            }

            .vn-photo-pinned-user-impression{
                display: block;
                background: none;
                border: 2px solid #f4f4f4;
                padding: 10px 20px;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .user-pinned{
                background: #dfe9ff;
                border: 2px solid #dfe9ff;
            }

            .vn-photo-pinned-user-impression-container{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: nowrap;
            }

            .vn-photo-pinned-user-impression-left{
                display: inline-block;
                flex-grow: 0;
            }

            .vn-photo-pinned-user-impression-left-container{
                width: 40px;
                height: auto;
            }

                .vn-photo-pinned-user-impression-profile{
                    display: block;
                }

                .vn-photo-pinned-user-impression-profile-container{
                    width: 40px;
                    height: auto;
                }

                .vn-photo-pinned-user-impression-profile-container img{
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }


            .vn-photo-pinned-user-impression-right{
                display: inline-block;
                flex-grow: 1;
            }
            
            .vn-photo-pinned-user-impression-right-container{
                width: 410px;
                height: auto;
                padding-left: 10px;
            }

                .vn-photo-pinned-user-impression-data{
                    display: block;
                    line-height: 20px;
                }

                .vn-photo-pinned-user-impression-data-container{
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                }

                    .vn-photo-pinned-user-impression-data-name{
                        display: inline-block;
                        flex-grow: 0;
                    }

                    .vn-photo-pinned-user-impression-data-name-container{
                        width: auto;
                    }

                        .vn-photo-pinned-user-impression-data-name-style{
                            font-family: open sans;
                            font-size: 14px;
                            font-weight: 700;
                            color: #343434;
                        }

                    .vn-photo-pinned-user-impression-data-time{
                        display: inline-block;
                        flex-grow: 1;
                        margin-left: 5px;
                    }

                    .vn-photo-pinned-user-impression-data-time-container{
                        width: auto;
                    }

                        .vn-photo-pinned-user-impression-data-time-style{
                            font-family: open sans;
                            font-size: 10px;
                            font-weight: 600;
                            color: #565656;
                        }

                    .vn-photo-pinned-user-impression-data-icon{
                        display: inline-block;
                        flex-grow: 2;
                        margin-left: 5px;
                    }

                    .vn-photo-pinned-user-impression-data-icon-container{
                        width: auto;
                    }

                        .vn-photo-pinned-user-impression-data-icon-style{
                            font-family: open sans;
                            font-size: 10px;
                            font-weight: 600;
                            color: #565656;
                            border: none;
                            background: none;
                            cursor: pointer;
                        }

                    .vn-photo-pinned-user-impression-pinned-icon{
                        display: inline-block;
                        flex-grow: 2;
                        margin-left: 5px;
                    }

                    .vn-photo-pinned-user-impression-pinned-icon-container{
                        width: auto;
                        float: right;
                        text-align: right;
                    }

                        .vn-photo-pinned-user-impression-pinned-icon-style{
                            font-size: 12px;
                            color: #565656;
                        }

                        .vn-photo-pinned-user-impression-data-fill{
                            display: block;
                        }

                        .vn-photo-pinned-user-impression-data-fill-container{
                            width: 100%;
                        }

                            .vn-photo-pinned-user-impression-data-fill-style{
                                font-family: open sans;
                                font-size: 12px;
                                font-weight: 600;
                                color: #343434;
                            }


                            